<!-- public/views/nerd.html -->

<!-- <div class="jumbotron text-center">
    <h1>Nerds and Proud</h1>

    <p>{{ tagline }}</p>
</div> -->

<div class="row">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="row trip-editor-options">
            	<div boat-trip-selector
                >
                <!-- <div boat-trip-selector
                     boats="boatData"
                     current-boat="currentBoat"
                     selection-boat="selectionBoat"
                     current-trip="currentTrip"
                     selection-trip="selectionTrip"
                     loading="loading"
                     selected-item="selectedItem"
                     trip-data="tripData"
                     trip-pictures="tripPictures"
                > -->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="load-video" class="row">
            <div class="col-xs-12 col-md-12 map-dir-container">
                <div entry-editor>
                </div>
                <!-- <div entry-editor entries="tripPictures" class="entry-editor"
                     current-boat="currentBoat" temp-stop-id="tempStopId"
                     current-trip="currentTrip"
                     selection-trip="selectionTrip">
                </div> -->
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row"  id="page_maps" >
            <div class="col-xs-12 col-md-12 viewer-map-dir-container">
                <br>
                <div map>
                </div>
                <!-- <div map
                     trip-data="tripData"
                     boat-data="boatData"
                     current-boat="currentBoat"
                     resize-map="'false'"
                     trip-pictures="tripPictures"
                     temp-stop-id="tempStopId"
                     selected-item="selectedItem">
                </div> -->
            </div>
        </div>
    </div>
    <div class="clearfix"></div><br>
</div>